header {
	display: grid;
	grid-template-columns: 200px 1fr;
	margin-top: 1em;
	grid-gap: 40px;
	padding: 3em 1em 2em 1em;
	background-color: $color-hs-beige;
	img {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	h1 {
		font-size: 3em;
		line-height: 1em;
	}
}
