header {
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-gap: 40px;
	padding: 2em 1em 2em 1em;
	background-color: $color-hs-beige;
	img {
 		margin: auto;
	}
	h1 {
		font-size: 3em;
		line-height: 1em;
	}
}
