.boxes {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
  margin: 6em 0 3em 0;
}

.box {
  border-radius: 5px;
  padding: 20px;
  position: relative;
}

h2.town {
  white-space: nowrap;
}
h3.date {
  margin-top: 40px;
  margin-bottom: 0;
}

ul.talks {
  margin: 2em 0;

  li {
  	font-size: 0.7em;
  	margin-top: 20px;
  	letter-spacing: -2px;
    span {
      font-size: 0.8em;
      position:relative;
      top: 0;
      margin-right: 10px;
    }
  }
}

div.meetup {
  position: absolute;
  bottom: 15px;
}

body {
  background-image: url(/td-back.png);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center -600px;
  padding-top: 300px;
}

.strafta {
  background-color: $color-hs-beige;
  padding: 1em;
}