@media screen and (max-width: 1340px) {
	.content-wrap {
		padding: 0 60px 0 100px;
	}
}

@media screen and (max-width: 768px) {
	.flex {
		flex-direction: column;
	}
	.boxes {
		display: grid;
		grid-template-columns: 100%;
	}
}

@media screen and (max-width: 600px) {
	body {
		font-size: 0.8em;
	}
	.content-wrap {
		padding: 0 0 0 60px;
	}
}
