@media screen and (max-width: 1000px) {
	.boxes {
		display: grid;
		grid-template-columns: 100%;
		margin-top: 3em;
	}
	h1#title {
		margin: 0.6em 0;
	}
	h3.date {
		margin:0;
	}
	ul.talks {
		margin: 1em 0 2em 0;
	}
	.strafta {
		padding: 0;
	}
	p {
		padding: 0 1em;
	}
}

@media screen and (max-width: 768px) {
	body {
		font-size: 0.9em;
	}
	.boxes {
		margin: 2em 0;
	}
	header {
		grid-template-columns: 130px 1fr;
		h1 {
			font-size: 2em;
		}
	}
}

@media screen and (max-width: 600px) {
	body {
		font-size: 0.8em;
	}
	.content-wrap {
		padding: 0;
	}
	header {
		grid-template-columns: 120px 1fr;
		grid-gap:10px;
		h1 {
			font-size: 2em;
			margin: 0.5em 0;
		}
	}
	p {
		font-size: 0.8em;
		line-height: 1.1em;
	}
}
