
/** Colors */
$brand-primary:     	#fd4000;
$color-hs-black:		#231f20;
$color-hs-red:			#fd4000;
$color-hs-beige:		#fff4e1;
$color-hs-blue:			#384af4;
$color-hs-white:		#fff;


/** Fonts */
$font-title:        'HS Grotesk', sans-serif;
$font-main:         'Menoe Grotesque', sans-serif;

:root {
  --color-hs-red: #fd4000;
  --color-hs-beige: #fff4e1;
  --color-hs-blue: #384af4;
  --color-hs-black: #231f20;
  --color-hs-white: #fff;
}