@import "reset";
@import "variables";
@import "common";

.grid {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1120px) 1fr;
  padding: 0;
}

.content-wrap {
  grid-column: 2;
  font-size: 2em;
  line-height: 1.2;
  padding: 20px;
}

@import "index";
@import "header";
@import "footer";
@import "media";
