{{ define "head" }}
<script type="text/javascript">

const color_hs_red = 0xfd4000;
const color_hs_red_string = '#fd4000';
const color_hs_beige = 0xfff4e1;
const color_hs_beige_string = '#fff4e1';
const color_hs_blue = 0x384af4;
const color_hs_blue_string = '#384af4';
const color_hs_black = 0x231f20;
const color_hs_black_string = '#231f20';
const color_hs_white = 0xffffff;
const color_hs_white_string = '#ffffff';

function initMap() {

  const regions = [
  {{ range .Site.Data.Regions }}
  {{ $regionPresenters := (where $.Site.Data.Presenters ".Meetup_Region" "intersect" (slice ._id)) }}
  {{ $regionMeetups := (where $.Site.Data.Meetups ".Region" "intersect" (slice ._id)) }}
  {
    name: {{ .Name }},
    center: {lat: {{ .lat }}, lng: {{ .lng }}},
    countPresenters: {{ len $regionPresenters }},
    countMeetups: {{ len $regionMeetups }}
  },
  {{ end }}
  {}].slice(0, -1);

  var regionCenter = {lat: 44.7, lng: 19};
  var map = new google.maps.Map(document.getElementById('map'), {
  	zoom: 7,
  	center: regionCenter,
  	backgroundColor: color_hs_beige,
    disableDefaultUI: true,
  	draggable: true,
  	keyboardShortcuts: false,
    scrollwheel: false,
	  styles: [
            {elementType: 'geometry', stylers: [{color: color_hs_black_string}]},
            {elementType: 'labels.text.stroke', stylers: [{color: color_hs_black_string}]},
            {elementType: 'labels.text.fill', stylers: [{color: color_hs_beige_string}]},
            {
                featureType: 'administrative',
                elementType: 'geometry.stroke',
                stylers: [{color: color_hs_beige_string}]
              },
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: color_hs_beige_string}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: color_hs_beige_string}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: color_hs_black_string}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: color_hs_black_string}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: color_hs_black_string}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: color_hs_black_string}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: color_hs_black_string}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: color_hs_black_string}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: color_hs_black_string}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: color_hs_black_string}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: color_hs_black_string}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: color_hs_black_string}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: color_hs_blue_string}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: color_hs_blue_string}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: color_hs_blue_string}]
            }
          ]
  });
const infoWindow = new google.maps.InfoWindow({
  maxWidth: 500
});
  var maxMeetups = 0;
  regions.forEach(r => {
    if (r.countMeetups > maxMeetups) maxMeetups = r.countMeetups;
  });
  regions.forEach(r => {
	  var cityCircle = new google.maps.Circle({
	  	center: r.center,
		  radius: 20000 + (20000 * r.countMeetups / maxMeetups),
		  strokeColor: color_hs_red_string,
		  strokeOpacity: 0.5,
		  fillColor: color_hs_red_string,
		  fillOpacity: 0.3,
		  strokeWeight: 4,
		  map: map,
	  });
    google.maps.event.addListener(cityCircle, 'click', function(ev) {
      infoWindow.setContent('<div class="mapInfo">Događaja: <b>' + r.countMeetups + '</b><br>Predavača: <b>' + r.countPresenters + '</b></div>');
      infoWindow.setPosition(ev.latLng);
      infoWindow.open(map);
    });
  });
}

function toggleLink(link, id) {
  $('.business').each(function() {
    const $this = $(this);
    if ($this.attr('id') === id) {
      $this.toggle();
    } else {
      $this.hide();
    }
  });

}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIPc29dt1ic0D6WO8dMOGd5diCokswnO4&callback=initMap"></script>
<style type="text/css">
a {
	color: var(--color-hs-black);
}
#map {
  height: 500px;
	width: 100%;
	border: 2px solid var(--color-hs-black);
	margin-bottom: 2em;
}
.mapInfo {
  color: var(--color-hs-black);
}
.presenters {
  margin-bottom: 2em;
}

.business {
  background-color: var(--color-hs-beige);
  font-size: 0.8em;
  padding: 2em 1em 1em 1em;
  display: none;
  margin: 1em 0;
}
.business a {
  color: var(--color-hs-black);
}
a.link-selected {
  background-color: red;
}
@media (max-width: 768px){
  .archived-meetup {
    font-size: 80%;
    margin: 0 1em 0 1em;
  }
}
</style>
{{ end }}

{{ define "main" }}

{{ .Content }}

<p>
	Tokom {{ len $.Site.Data.Meetups }} izdanja Tehnološkog doručka predstavljeno je {{ len $.Site.Data.Presenters }} ideja, u {{ len $.Site.Data.Regions  }} gradova u regionu.
</p>

<div id="map"></div>

{{ end }}

{{ define "page" }}

{{ range (sort $.Site.Data.Meetups "ID" "desc") }}

<div class="archived-meetup">
{{ $meetupId := slice ._id }}
<h2>TD#{{ .ID }}</h2>
<h3>{{ range where $.Site.Data.Regions "._id" "eq" (index .Region 0) }} {{ .Name }} {{end}} | {{ .Date }}</h3>

	<div class="presenters">
			/ {{ range where (sort $.Site.Data.Presenters ".Name" ) "Meetup" "intersect" $meetupId }}
				<a href="#" onclick="toggleLink(this, 'td-{{anchorize .Name}}'); return false;">{{- .Name -}}</a> /
			  {{ end }}

      {{ range where $.Site.Data.Presenters "Meetup" "intersect" $meetupId }}
      <div id="td-{{anchorize .Name}}" class="business">
        <p>{{ .Description }}</p>
        <p><a href="{{- .URL -}}" target="_blank">{{- .URL -}}</a></p>
      </div>
      {{ end }}

	</div>

</div>
{{ end }}
{{ end }}