<footer class="grid bg-white">
  <div class="content-wrap">

  	<h3>Kontakt</h3>

  	<p>
  		Otvoreni smo za saradnju, pitanja i sugestije. Radimo punom parom za dobrobit regionalne tehnološke zajednice. Piši nam na <a href="mailto:info@heapspace.rs">info@heapspace.rs</a> ako imaš konkretne predloge!
  	</p>

	<ul>
		<li><a href="https://www.meetup.com/Heapspace/">meetup</a></li>
		<li><a href="https://twitter.com/heap_space">twitter</a></li>
		<li><a href="https://www.instagram.com/_heapspace_/">instagram</a></li>
		<li><a href="http://facebook.com/heapspace">facebook</a></li>
		<li><a href="https://www.flickr.com/photos/136891384@N04/albums">flickr</a></li>
	</ul>

	{{ partial "mailchimp" . }}

    <div id="footer">©2018 heapspace / organized with love for technology and local community.</div>
  </div>
</footer>
