<footer class="grid bg-white">
  <div class="content-wrap">

  	<h3>Kontakt</h3>

  	<p>
  		Otvoreni smo za saradnju, pitanja i sugestije. Radimo punom parom za dobrobit regionalne tehnološke zajednice. Piši nam na <a href="mailto:info@heapspace.rs">info@heapspace.rs</a> ako imaš konkretne predloge!
  	</p>

	<ul>
		<li><a href="https://www.facebook.com/tehnoloskidorucak/">facebook</a></li>
		<li><a href=" https://twitter.com/techdorucak">twitter</a></li>
		<li><a href="https://www.instagram.com/techdorucak/">instagram</a></li>
		<li><a href="https://www.meetup.com/Heapspace/">meetup</a></li>
	</ul>

    <div id="footer">©2018 heapspace / organized with love for technology and local community.</div>
  </div>
</footer>
