<div id="mc_embed_signup">
	<form action="https://javasvet.us7.list-manage.com/subscribe/post?u=2354f3fc5dde09a7d159dc997&amp;id=33cb57b5ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
		<div id="mc_embed_signup_scroll">
			<label for="mce-EMAIL"></label>
			<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="prijavite se na naš newsletter" required="true">
			<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;" aria-hidden="true">
				<input type="text" name="b_2354f3fc5dde09a7d159dc997_33cb57b5ef" tabindex="-1" value="">
			</div>
			<div class="clear">
				<input type="submit" value="➝" name="subscribe" id="mc-embedded-subscribe" class="button">
			</div>
		</div>
	</form>
</div>