{{ define "main" }}

{{ .Content }}

{{ $nextMeetups := .Site.Data.UpcomingMeetups }}

<div class="boxes">
  {{ range $index, $m := $nextMeetups }}
  {{ $n := mod $index 3 }}
  {{ $color := "" }}
  {{ with (eq $n 0) }}
  	{{ $color = "bg-red" }}
  {{ end }}
  {{ with (eq $n 1) }}
  	{{ $color = "bg-blue" }}
  {{ end }}
  {{ with (eq $n 2) }}
  	{{ $color = "bg-black" }}
  {{ end }}

  	{{ partial "box" (dict "town" (lower $m.town) "date" $m.date "talks" .presenters "link" $m.url "color" $color "location" $m.location) }}

  {{ end }}

</div>

<h2 style="text-align: center"><a href="/arhiva" style="color: var(--color-hs-black)">Arhiva</a></h2>

{{ end }}
