{{ define "main" }}

<h1 id="title">
	Tehnološki<br>
	Doručak
</h1>

<div class="boxes">
  <div class="box bg-red">
  	<h2>beograd</h2>
  	<h3 class="date">06. 09.</h3>
  	<h4>ICT HUB</h4>
		<ul class="talks">
			<li>{ Creative Brackets }</li>
			<li>Krojačeva škola</li>
			<li>Tema 3</li>
		</ul>

    <a class="meetup" href="http://meetup">meetup</a>

  </div>
  <div class="box bg-blue">
  	<h2>novi sad</h2>
  	<h3 class="date">26. 09.</h3>
  	<h4>STARTIT</h4>
  </div>
  <div class="box bg-black">
  	<h2>zagreb</h2>
  	<h3 class="date">16. 09.</h3>
  	<h4>HUB365</h4>
  </div>
</div>

{{ end }}
