{{ define "head" }}
<script type="text/javascript">

const color_hs_red = 0xfd4000;
const color_hs_red_string = '#fd4000';
const color_hs_beige = 0xfff4e1;
const color_hs_beige_string = '#fff4e1';
const color_hs_blue = 0x384af4;
const color_hs_blue_string = '#384af4';
const color_hs_black = 0x231f20;
const color_hs_black_string = '#231f20';
const color_hs_white = 0xffffff;
const color_hs_white_string = '#ffffff';

function initMap() {

  const regions = [
  {{ range .Site.Data.Regions }}
  {{ $regionPresenters := (where $.Site.Data.Presenters ".Meetup_Region" "intersect" (slice ._id)) }}
  {{ $regionMeetups := (where $.Site.Data.Meetups ".Region" "intersect" (slice ._id)) }}
  {
    name: {{ .Name }},
    center: {lat: {{ .lat }}, lng: {{ .lng }}},
    countPresenters: {{ len $regionPresenters }},
    countMeetups: {{ len $regionMeetups }}
  },
  {{ end }}
  {}].slice(0, -1);

  var regionCenter = {lat: 45, lng: 19};
  var map = new google.maps.Map(document.getElementById('map'), {
  	zoom: 7,
  	center: regionCenter,
  	backgroundColor: color_hs_beige,
    disableDefaultUI: true,
  	draggable: false,
  	keyboardShortcuts: false,
    scrollwheel: false,
	  styles: [
            {elementType: 'geometry', stylers: [{color: color_hs_black_string}]},
            {elementType: 'labels.text.stroke', stylers: [{color: color_hs_black_string}]},
            {elementType: 'labels.text.fill', stylers: [{color: color_hs_beige_string}]},
            {
                featureType: 'administrative',
                elementType: 'geometry.stroke',
                stylers: [{color: color_hs_beige_string}]
              },
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: color_hs_beige_string}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: color_hs_beige_string}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: color_hs_black_string}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: color_hs_black_string}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: color_hs_black_string}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: color_hs_black_string}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: color_hs_black_string}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: color_hs_black_string}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: color_hs_black_string}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: color_hs_black_string}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: color_hs_black_string}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: color_hs_black_string}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: color_hs_blue_string}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: color_hs_blue_string}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: color_hs_blue_string}]
            }
          ]
  });
const infoWindow = new google.maps.InfoWindow({
  maxWidth: 500
});
  regions.forEach(r => {
	  var cityCircle = new google.maps.Circle({
	  	center: r.center,
		  radius: 30000,
		  strokeColor: color_hs_red_string,
		  strokeOpacity: 0.5,
		  fillColor: color_hs_red_string,
		  fillOpacity: 0.3,
		  strokeWeight: 4,
		  map: map,
	  });
    google.maps.event.addListener(cityCircle, 'click', function(ev) {
      infoWindow.setContent('<div class="mapInfo">Doručaka: <b>' + r.countMeetups + '</b><br>Predavača: <b>' + r.countPresenters + '</b></div>');
      infoWindow.setPosition(ev.latLng);
      infoWindow.open(map);
    });
  });
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQDz_F6B8Bc8g41ZgM583MYE-KhsH3TkE&callback=initMap"></script>
<style type="text/css">
a {
	color: var(--color-hs-black);
}
#map {
  height: 400px;
	width: 100%;
	border: 2px solid var(--color-hs-black);
	margin-bottom: 2em;
}
.mapInfo {
  color: var(--color-hs-black);
}
.presenters {
  margin-bottom: 2em;
}
</style>
{{ end }}

{{ define "main" }}

{{ .Content }}

<div id="map"></div>

<p>
  Ukupno {{ len $.Site.Data.Presenters }} prezentera na {{ len $.Site.Data.Meetups }} doručaka.
</p>

{{ end }}

{{ define "page" }}

{{ range (sort $.Site.Data.Meetups "ID" "desc")}}

<div>
{{ $meetupId := slice ._id }}
<h2>TD#{{ .ID }}</h2>
<h3>
{{ range where $.Site.Data.Regions "._id" "eq" (index .Region 0) }} {{ .Name }} {{end}} | {{ .Date }}</h3>

	<div class="presenters">
			/ {{ range where (sort $.Site.Data.Presenters ".Name" ) "Meetup" "intersect" $meetupId }}
				<a href="{{ .URL }}" target="_blank">{{ .Name }}</a> /
			{{ end }}
	</div>
{{ end }}
</div>

{{ end }}